*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.task1{
    text-align: center;
    padding: 20px 0;
    .check{
        color: red;
        padding: 20px 30px;
        background: blue;
    }
}

.task2{
    padding: 20px 0;
    #btn{
        padding: 20px 30px;
        background-color: blue;
        color: red;
    }
}

.task3{
    text-align: center;
    #info{
        text-decoration: underline  green;
        padding: 10px 20px;
        color: wheat;
        background-color: black;
        border: 1px  solid black;
        display: inline-block;
    }
}

